@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

:root {
  --title-height: 22px;
  --bg-color: #fff;
  --bg-title-color: #f4f7f7;
  --text-color: #1f4e5f;
  --text-title-color: #0f2e3f;
  --text-content-color: #1f4e5f;
  --border-color: #aacfd0;
  --hover-color: #f4f7f7;
}

html {
  height: 100%;
  width: 100%;
}

body,
input,
select,
button,
.issue {
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: 'Montserrat-Regular';
  letter-spacing: 1px;
  margin: 0;
}

input,
select,
.issue {
  border: 1px solid var(--border-color);
  color: var(--text-content-color);
  font-size: 0.8em;
}

input {
  border-radius: 3px;
  height: 20px;
  padding: 0 3px;
}

select {
  height: 21px;
}

input:focus,
select:focus {
  box-shadow: 0 0 0 1px var(--border-color);
}

button {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  padding: 13px;
}

button:hover {
  background-color: var(--hover-color);
}

input:focus,
select:focus,
button:focus {
  outline: none;
}

#title-bar {
  -webkit-app-region: drag;
  align-items: center;
  background-color: var(--bg-title-color);
  cursor: default;
  display: flex;
  font-size: 0.7em;
  height: var(--title-height);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 99;
}

#title-bar.windows {
  display: none;
}

#no-setting {
  display: none;
}

#no-setting.overlay {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#open-settings-button {
  margin-top: var(--title-height);
}

#open-settings-button.windows {
  margin-top: 0;
}

#main {
  padding: 32px 20px 18px;
}

#main.windows {
  padding: 15px 20px 20px;
}

#setting {
  width: 500px;
}

#setting th {
  font-size: 0.8em;
  text-align: left;
  white-space: nowrap;
  width: 140px;
}

.setting-redmine input {
  width: 340px;
}

.setting-number input {
  text-align: right;
  width: 60px;
}

#setting-footer {
  margin-top: 20px;
  text-align: center;
  width: 500px;
}

#setting-footer button {
  padding: 10px;
  width: 100px;
}

#save-settings-button {
  margin-right: 30px;
}

#update-interval-unit,
#total-issue {
  font-size: 0.8em;
}

#total-issue {
  margin-left: 5px;
}

#total-issue-count {
  color: var(--text-content-color);
  font-size: 1.2em;
}

#headers {
  color: var(--text-content-color);
  display: flex;
  font-size: 0.9em;
  height: 25px;
  margin-top: 10px;
}

.header-column {
  flex: 1;
  text-align: center;
}

#container {
  border-radius: 3px;
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: calc(100vh - 110px);
  overflow-y: scroll;
  padding: 0 1px;
}

.column.windows {
  height: calc(100vh - 90px);
}

.issue {
  border-radius: 3px;
  box-sizing: border-box;
  cursor: pointer;
  line-height: 1.4em;
  margin-top: 2px;
  padding: 8px;
  word-break: break-all;
}

.issue:first-child {
  margin-top: 0;
}

.issue-id,
.assigned-to,
.updated-on {
  font-size: 0.9em;
  opacity: 0.8;
}

.subject {
  font-weight: bold;
  margin-bottom: 0.9em;
}
