@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

::selection {
  background-color: #afd7ff;
}

html {
  -webkit-app-region: drag;
  height: 100%;
  width: 100%;
}

body {
  background-color: #628db6;
  color: #fff;
  font-family: 'Montserrat-Regular';
  letter-spacing: 1px;
  margin: 0;
}

input {
  -webkit-app-region: no-drag;
  border: solid 1px #ccc;
  border-radius: 3px;
  font-size: 0.8em;
  height: 20px;
  padding: 0 3px;
}

button {
  -webkit-app-region: no-drag;
  background-color: #628db6;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-size: 0.8em;
  margin-left: 5px;
  padding: 13px 13px;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #3e5b76;
}

#main {
  padding: 20px;
}

#setting {
  position: absolute;
  width: 730px;
}

#setting th {
  font-size: 0.9em;
  text-align: left;
  white-space: nowrap;
  width: 115px;
}

.setting-redmine {
  width: 350px;
}

.setting-redmine input {
  width: 340px;
}

.setting-number input {
  text-align: right;
  width: 60px;
}

.mask {
  background-color: #628db6;
  border: solid 1px #fff;
  color: #628db6;
}

#headers {
  display: flex;
  font-size: 0.9em;
  height: 25px;
  margin-top: 90px;
}

.header-column {
  flex: 1;
  text-align: center;
}

#container {
  display: flex;
}

.column {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  height: calc(100vh - 155px);
  overflow-y: scroll;
}

.issue {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: #3e5b76;
  cursor: pointer;
  font-size: 0.8em;
  line-height: 1.5em;
  margin-top: 5px;
  padding: 5px;
  word-break: break-all;
}

.issue:first-child {
  margin-top: 0;
}

.issue-id {
  font-size: 0.9em;
}

.assigned-to,
.updated-on {
  font-size: 0.9em;
  opacity: 0.8;
}
